{% extends 'index.html' %}
{% load static %}


{% block content %}


<!--Sección about, sobre nosotros -->


<main class="xs-all-content-wrapper">
	<!-- about us promo -->
	<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section" style="margin-top:70px">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-6">
					<!--Integrantes del equipo-->
					<div class="fundpress-inner-about-content">
						<h2 class="color-navy-blue">Equipo de Trabajo</h2>
						<p>Isidora Ubilla, Jorge Díaz, Ruth Vicuña, Victor Codocedo y  Claudia Lopez   </p>
					</div>
				</div>
				<!--Colocar imagen del equipo-->
				<div class="col-md-12 col-lg-6">
					<div class="fundpress-about-promo-image xs-box-shadow">
						<img src="/media/about.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!-- about us promo end -->


	<!-- about us descripcion del proyecto -->
	<div class="fundpress-simple-promo-text-content">
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-sm-12 col-lg-9 content-center">
					<div class="fundpress-title-text-content">
						<h4 class="color-green margin-bottom-0">Proyecto</h4>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-lg-6">
					<div class="xs-text-content fundpress-text-content">
						<p style="text-align:justify" >Este es un proyecto de visualización de información pública de las unidades vecinales de la Quinta Región. En su versión inicial mostraremos información demográfica de las unidades vecinales, posibles puntos de aglomeración en cada comunas, y posibles espacios públicos en las unidades vecinales que podrían ser usados para prestar servicios a las comunidades de cada unidad vecinal de la Quinta Región.</p>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-6">
					<div class="xs-text-content fundpress-text-content">
						<p style="text-align:justify">Para contactarnos, favor escribir a victor.codocedo@usm.cl y claudia.lopez@usm.cl .</p>

					</div>
				</div>
			</div>
		</div>
	</div>	
	<!-- about us simple promo text end -->


    <!-- sponsor section -->

</main>

{% endblock %}
